* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
    .header {
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: #25384D;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo {
                background: #EA584A;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav {
                background: #EA584A;
                flex: 5 1 auto;
                height: 30px;
            }
            .social {
                background: #EA584A;
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal {
            background: #EF763B;
        }
            h1 {
                background: #FDCC5E;
            }
    .section {
        background: #000;
        display: flex;
    }
        .articulos {
            background: #44465E;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                background: #1964A4;
                flex: 1 1 40%;
            }
            .navegacion {
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside {
            background: #EA4E4B;
            flex: 1 1 auto;
        }
            .publicidad {
                background: #FDE381;
            }
    .footer {
        background: #000;
    }
        .pie {
            background: #E4A534;
            }

/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops*/        
@media (min-width: 1281px)     

/*  ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px)

 /* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px*/             
@media (min-width: 768px) and (max-width: 1024px) {
    .section{
        flex-direction: column;
        background:#E4A534;
    }
    .aside{
        justify-content: center;
    }                 
}            
/*  ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px*/         
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .section{
        flex-direction: column;
        background: #E4A534;
    }
    .aside{
        justify-content: center;
    }    
}           
/*  ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */       
@media (min-width: 481px) and (max-width: 767px) {
    .menu{
        flex-direction: column;
        height: auto;
        align-items: stretch;
    }
    .section{
        flex-direction: column;
        background: #E4A534;
    }
    .aside{
        flex-direction: column; 
    }
    .articulos{
         flex-direction: column;
    }
}  
/* ##Device = Most of the Smartphones Mobiles (Portrait)##Screen = B/w 320px to 479px*/  
@media (min-width: 320px) and (max-width: 480px) {
    .menu{
        flex-direction: column;
        height: auto;
        align-items: stretch;
    }
    .section{
        flex-direction: column;
        background: #E4A534;
    }
    .aside{
        flex-direction: column; 
    }
    .articulos{
        flex-direction: column;
   }
}  
